spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/workflow
    username: admin
    password: secret

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
